filter()
	-webkit-filter arguments
	-moz-filter arguments
	-ms-filter arguments
	filter arguments

animation( )
	-webkit-animation arguments
	-moz-animation arguments
	-ms-animation arguments
	animation arguments

transform( )
	-webkit-transform arguments
	-moz-transform arguments
	-ms-transform arguments
	transform arguments

@keyframes disappear
	0%
		opacity 1
		transform translateY(0px)
	100%
		opacity 0
		transform translateY(0px)

body
	font-family 'Open Sans' sans-serif
	font-weight 600
	margin 0 0 0 0
	background #FDFDFD
	padding 20px 0 20px 0

	.wrapper
		text-align center
		padding-left 15%
		padding-right 15%

path
	fill #333

#content
	position relative

	#cover
		position absolute
		background-color #FDFDFD
		height 100%
		width 100%

		font-family inherit
		font-size 80px
		color #E0E0E0

		&.gone
			animation disappear 0.5s
			transform scaleY(0)

#icon
	padding 0 0 10px 0
	filter drop-shadow(0 2.5px 2px #333)

#branch
	font inherit
	font-size 25px
	line-height 20px
	margin 0 0 10px

	#branch-input
		width 300px
		padding 2px 1px
		background-color inherit
		border 0
		color #6699CC
		font inherit
		text-align center
		border-bottom 1px solid #888

		&:focus
			background-color: #F6F6F6

		&:hover
			background-color #F6F6F6

#branch-suggestions
	display none
	width 300px
	font inherit
	max-height 500px
	overflow scroll
	background-color #F6F6F6
	position absolute
	padding 5px 1px

	#suggstion-list
		font inherit

	.suggestion
		overflow auto
		max-width 100%

		&:hover
			background-color #F0F0F0

		.match
			color #6699CC

h1
	color #333
	margin 0 0 20px 0

ul
	list-style-type none
	margin 0
	padding 0
	font-size 20px

	.entry
		overflow auto
		max-width 100%

		+ .entry
			border-top 1px solid #888

		div
			display inline
			float left
			padding 6px 5px 6px 6px
			color #333

		.size
			text-align right
			line-height 20px
			padding 12px 10px 12px 10px
			width 96px
			color #7557BC

		.info
			width calc(100% \- 116px \- 136px)
			white-space nowrap
			overflow-x hidden
			line-height 20px
			text-align center
			padding 12px 10px 12px 10px

		.commit
			padding-left 13px
			padding-right 13px

			// doctype html adds 6px of space to the bottom of this div for
			// some reason I do not comprehend. Rather than simply not
			// declaring a doctype, I chose instead to use a bad css
			// workaround.
			height 32px
			&:hover path
				fill #6699CC

		.download
			padding-left 13px
			padding-right 13px
			height 32px

			&:hover path
				fill #99CC99
