[submodule "deps/flac"]
	path = deps/flac
	url = git://git.xiph.org/mirrors/flac.git
[submodule "deps/ogg"]
	path = deps/ogg
	url = git://git.xiph.org/mirrors/ogg.git
[submodule "deps/vorbis"]
	path = deps/vorbis
	url = git://git.xiph.org/mirrors/vorbis.git
[submodule "deps/mpg123"]
	path = deps/mpg123
	url = git://github.com/mileswu/mpg123.git
[submodule "deps/twui"]
	path = deps/twui
	url = git://github.com/mileswu/twui.git
[submodule "deps/taglib"]
	path = deps/taglib
	url = git://github.com/taglib/taglib.git
[submodule "deps/cocoalumberjack"]
	path = deps/cocoalumberjack
	url = git://github.com/robbiehanson/CocoaLumberjack.git
