body
	font-family 'Open Sans' sans-serif
	margin 0 0 0 0
	background #333
	box-shadow inset 0 0px 20px rgba(0,0,0,0.125)
	padding 20px 0 20px 0

	.wrapper
		text-align center

h1
	color #ccc
	text-shadow 2px 2px #111
	margin 0 0 20px 0

ul
	list-style-type none
	margin 0
	padding 0
	font-size 20px

	.entry
		overflow auto
		max-width 100%
		padding-left 250px
		padding-right 250px
		background

		+ .entry
			margin-top 5px

		div
			display inline
			float left
			border 2px solid #222
			border-right 1px solid rgba(255,255,255,0.025)
			padding 6px 5px 6px 6px
			box-shadow inset 0 -5px 8px rgba(0,0,0,0.150)
			text-shadow 2px 2px #111
			background #2c2c2c
			color #ccc

		.size
			border-top-left-radius 25px
			border-bottom-left-radius 25
			text-align right
			line-height 20px
			padding 12px 10px 12px 10px
			width 99px
			color #7557BC
			text-shadow 2px 2px #222

		.info
			width calc(100% \- 122px \- 146px)
			white-space nowrap
			overflow-x scroll
			line-height 20px
			text-align center
			padding 12px 10px 12px 10px

		.commit
			padding-left 13px
			padding-right 13px
			&:hover
				box-shadow inset 0 5px 8px rgba(0,0,0,0.150)

			img
				-webkit-filter: drop-shadow(1px 1px 0 #111)

		.download
			border-top-right-radius 25px
			border-bottom-right-radius 25px
			border-right 2px solid #222
			padding-left 12px
			padding-right 14px
			// background #39614A

			&:hover
				box-shadow inset 0 5px 8px rgba(0,0,0,0.150)

			img
				-webkit-filter: drop-shadow(1px 1px 0 #111)
